<h2>Hero Detail</h2>
<h3><i>FormControl in a FormGroup</i></h3>
<form [formGroup]="heroForm" novalidate>
  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" type="text" formControlName="name">
    </label>
    <label class="center-block">Color:
      <input class="form-control" type="text" [formControl]='color'>
    </label>
  <div *ngIf='color.hasError("minlength")'>Minimal Length here is 5 letters</div>
      <label class="center-block">Test:
      <input class="form-control" type="text" formControlName='test'>
    </label>
  </div>
</form>
<!--The value goes into the form model that backs the group's FormControls. -->
<p>Form value: {{ heroForm.value | json }}</p>
<p>Form status: {{ heroForm.status | json }}</p>