<!--<p>
  meal works!
</p>
<h2>My Heroes</h2>
<ul>
  <li *ngFor="let hero of meals">
  <span>{{hero.recipe_id}}</span> {{hero.title}}
</li>
</ul>-->

<div class="panel panel-default" style="position: fixed">
  <div class="panel-heading" *ngIf="!meal">
    <h3 class="panel-title">Select a Meal</h3>
  </div>
  <div *ngIf="meal" >
    <h3 >
      <a href={{meal.f2f_url}}> {{meal.title}} </a> </h3>
    <table class="table table-striped table-bordered">
      <tr>
        <th>ID</th>
        <th>Publisher</th>
        <th>Rank</th>
        <th>Picture</th>
      </tr>
      <tr>
        <td> {{meal.recipe_id}} </td>
        <td> {{meal.publisher}}</td>
        <td> {{meal.social_rank}} </td>
        <td> <img class="img-thumbnail" width="304" height="236" src={{meal.image_url}}> </td>
      </tr>
    </table>
  </div>
</div>